'name': 'nvAtom Github Markdown'
'scopeName': 'source.gfm.nvatom'
'patterns': [
  {
    'include': 'source.gfm'
  }
  {
    'match': '(?<!\\[)(\\[\\[)([^\\[\\]\|]+)(\\]\\])(?!\\])'
    'name': 'interlink'
    'captures':
      '1':
        'name': 'punctuation.definition.begin.gfm'
      '2':
        'name': 'markup.underline.link.interlink.gfm'
      '3':
        'name': 'punctuation.definition.begin.gfm'
  }
]
