# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Notational Velocity'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'notational-velocity:toggle'
        }
      ]
    ]
  }
]
